<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../../assets/scripts/countries.js"></script>
    <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../app/popup.js"></script>
</head>
<body class="main">
    <div class="container">
        <h4>
            Top 10 búsquedas 
            <select id="countries">
                <option>Chile</option>
            </select>
             en este momento
        </h4>
        <ul id="trends"></ul>    
    </div>
</body>
</html>